/.bsp/
/.idea/
target/

.DS_Store
/.envrc

*.iml

dist/*
project/boot/
project/plugins/project/
.bsp/

spark-3.0.1-bin-hadoop3.2
/spark-3.0.2-bin-hadoop3.2/
/spark-3.0.2-bin-hadoop3.2.tgz
spark3.2-iomete-release-v2.zip
/spark

metastore_db/
Makefile.internal